.band {
    height: 50;
    display: block;
    width: 100%;
    background-color: #555;
}

.title {
    text-align: center;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav-item {
    display: block;
    height: 100%;
    color: white;
    font-size: .9rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
}
.nav-item:hover {
    color: darkblue;
    display: block;
    opacity: 0.4;
    background-color: cyan;
}

.active-nav-item {
    color: rgb(1, 61, 33);
}

.image {
    display:inline-block;
    margin: 0 auto;
}